/********** THE SIDEBAR **********/
.flow-sidebar {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 0;
    z-index: 100;
    background-color: rgba(75, 75, 75, 0.8);
    color: rgb(200, 200, 200);
    transition: width 500ms 0ms;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}
.flow-sidebar.open {
    width: 15em;
}

.flow-sidebar.open ul li span, .flow-sidebar.open .header, .flow-sidebar.open .footer {
    transition: opacity 300ms 80ms;
    opacity: 1 !important;
}
.flow-sidebar > * {
    flex-shrink: 0;
    margin: 1em;
    padding: 1em 0;
}



/********** CENTERED LIST **********/
.flow-sidebar ul {
    margin: 1em 0;
    padding: 0;
    font-size: 1.2em;
}

.flow-sidebar ul li {
    list-style: none;
    cursor: pointer;
    
    width: 100%;
    padding: 1em 0;
    
    display: flex;
    flex-direction: row;
}
.flow-sidebar ul li:hover {
    background-color: rgba(220, 220, 220, 0.07);
}

.flow-sidebar ul li i {
    flex-grow: 0;
    width: 2em;
    
    padding: 0 1em;
    text-align: left;
}

.flow-sidebar ul li span {
    flex-grow: 2;
    text-align: left;
    font-weight: 600;
    min-width: 5em;

    transition: opacity 300ms 0ms;
    opacity: 0;
}

.flow-sidebar ul li.selected {
    background-color: rgba(220, 220, 220, 0.2);
    border-right: 0.2rem rgb(200, 0, 0) solid;
    width: calc(100% - 0.2rem);
}



/********** HEADER & FOOTER **********/
.flow-sidebar .header, .flow-sidebar .footer {
    display: flex;
    flex-direction: row;
    opacity: 0;
}

.flow-sidebar .header img {
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

.flow-sidebar .header h2 {
    margin: 0;
    padding: 0.4em 0;
    transition: opacity 300ms 0ms;
}

.flow-sidebar .footer h4 {
    font-weight: 300;
    margin: 0;
    transition: opacity 300ms 0ms;
}